<div class="container">

    <div align="center">
        <h3>{{ title }}</h3>
    </div> 

    <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <ng-container matColumnDef="birthdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthdate </th>
            <td mat-cell *matCellDef="let element"> {{ element.birthdate | birthDate }} </td>
        </ng-container>

        <ng-container matColumnDef="sphere">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sphere </th>
            <td mat-cell *matCellDef="let element" appPatient> {{ element.sphere }} </td>
        </ng-container>

        <ng-container matColumnDef="cylinder">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cylinder </th>
            <td mat-cell *matCellDef="let element" appPatient> {{ element.cylinder }} </td>
        </ng-container>

        <ng-container matColumnDef="axis">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Axis </th>
            <td mat-cell *matCellDef="let element" appPatient> {{ element.axis }} </td>
        </ng-container>

        <ng-container matColumnDef="info">
            <th mat-header-cell *matHeaderCellDef> Information </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Info" matTooltipPosition="above"
                    (click)="patientDetails(element)">
                    <mat-icon>info</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Update" matTooltipPosition="above"
                    (click)="updatePatient(element)">
                    <mat-icon>settings</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Delete" matTooltipPosition="above"
                    (click)="deletePatient(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
