<div align="center">
    <mat-card>
        <div align="left">
            <button mat-raised-button color="primary" (click)="newPatient()">New Patient</button>
        </div>
        <div align="right">
            <patient-search (output)="searchPatientByName($event)"></patient-search>
        </div>
        <div align="center">
            <mat-card-title>Patient list</mat-card-title>
        </div> 
    </mat-card>
    <div align="center">
        <app-patient-list [name]="searchedName"></app-patient-list>
    </div>
</div>
